doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(defer type="module" src="js/bootstrap.bundle.min.js")
        script(defer type="module" src="js/main.js")
        link(rel="stylesheet" href="css/bootstrap.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .bg-info
            h1.text-danger Gulp5 Pug